img {
    display: block;
    margin-left:auto;
    margin-right: auto; 
}

table{
    margin: auto;
}

ul {
display: inline-block;
}

li {
text-align: center;
}

h1 { color:crimson ;
     font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
     font-size: xx large;
}